{% extends 'bash.sh.j2' %}

{% block content %}
export script_dir="$(cd "$(dirname "${BASH_SOURCE[0]}")" &>/dev/null && pwd)"

cd $script_dir
bash -x $script_dir/script1.sh
bash -x $script_dir/command01.sh
bash -x $script_dir/start-expanded
{% endblock %}
