{% extends 'bash.sh.j2' %}
{% block content %}

{% block payload %}
{% endblock %}

glab api --method POST --header "Content-Type: application/json" \
 --input {{ payload }} \
 /projects/{{ project|url_encode }}/deploy_tokens | jq | tee {{ outfile }}

export GITLAB_DEPLOY_USERNAME=$(jq -r .username {{ outfile }})
export GITLAB_DEPLOY_TOKEN=$(jq -r .token {{ outfile }})
export RANDOM=$RANDOM

envsubst '$GITLAB_DEPLOY_TOKEN,$GITLAB_DEPLOY_USERNAME,$RANDOM' <start >start-expanded
envsubst '$GITLAB_DEPLOY_TOKEN,$GITLAB_DEPLOY_USERNAME,$RANDOM' <my_project/run >my_project/run-expanded

{% endblock %}
