# eachrundi

## Motivation

Ansible molecule [quickstart guide](https://ansible.readthedocs.io/projects/molecule/getting-started/) starts from perspective that you should run molecule with an ansible collection.

I've never used ansible collections before, nor do I really know why molecule suggests them but I'm curious what benefit they provide over ansible roles--something I am familiar with.

Lots of fumbling later, I see how to get started.  Now I can start learning to use molecule and eventually iterate on `elasticsearch-certutil` which is my original motivation to use ansible.


Also I needed reason to learn jinja2 template inheritance better.  There are so many places its helpful.

## Purpose

Learn how to use ansible galaxy to install ansible collection from a private gitlab repo.


tl;dr, this works:
```log
# file: ~/.gitconfig:
[credential]
        helper = store --file /root/.my-credentials

# file: ~/.my-credentials:
https://gitlab+deploy-token-4103568:gldt-yr9ZrxAKDFfai5EBKTnR@gitlab.com

# file: ~/my_project/run_test.sh:
timeout --verbose 10s ansible-galaxy collection install --requirements-file=requirements.yml

# file: ~/my_project/requirements.yml:
collections:
- name: 'https://gitlab.com/{{ project }}.git#collections/ansible_collections/foo'
  type: git
  version: master
```


## Usage

### Setup

`make test` does these steps:

- create gitlab deploy token for project {{ project }} using glab cli
- create docker container with ansible
- put secret onto container
- run script to install collection using `ansible-galaxy`




```bash
make test
```

### Teardown



`make cleanup` does these steps:

- delete gitlab deploy token for project {{ project }}
- delete output directory


```bash
make clean
```
