{% extends 'bash.sh.j2' %}

{% block content %}

xtrace_enabled=false
if [[ $- == *x* ]]; then
    xtrace_enabled=true
    set +x  # Disable verbose mode
fi


. .venv/bin/activate


# Re-enable verbose mode if it was previously enabled
if $xtrace_enabled; then
    set -x  # Enable verbose mode
fi





python --version
ansible --version
molecule --version

cat >requirements.yml <<EOF1
{% include 'requirements.yml.j2' %}
EOF1

cat >/root/.my-credentials <<EOF1
https://$GITLAB_DEPLOY_USERNAME:$GITLAB_DEPLOY_TOKEN@gitlab.com
EOF1

git config --global credential.helper "store --file /root/.my-credentials"
{% endblock %}
